version: '3.9'

services:
  db:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password 
      POSTGRES_DB: my_db
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_net

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin   
    ports:
      - "8080:80"
    networks:
      - app_net

  sso:
    container_name: sso
    build: ./sso
    ports:
      - "6969:6969"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app_net

networks:
  app_net:
